server:
  port: 4000

spring:
  datasource:
    url: ${H2_URL}
    driver-class-name: org.h2.Driver
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    show-sql: true

  h2:
    console:
      enabled: true

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET}
      expiration-in-seconds: 2592000000 #30Ïùº
